<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.muer.persistence.mapper.IamPermissionMapper">
    <insert id="upsert">
        INSERT INTO iam_permission (permission_code, display_name, description)
        VALUES (#{definition.code}, #{definition.displayName}, #{definition.description})
        ON DUPLICATE KEY UPDATE
            display_name = VALUES(display_name),
            description = VALUES(description)
    </insert>
</mapper>
